@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome <i class="fa-solid fa-rocket"></i></h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class="mt-4">
        <h3>Web Awesome Icons Demo</h3>
        <p>
            <i class="fa-solid fa-home fa-2x me-3"></i>
            <i class="fa-solid fa-user fa-2x me-3"></i>
            <i class="fa-solid fa-heart fa-2x me-3"></i>
            <i class="fa-solid fa-star fa-2x me-3"></i>
            <i class="fa-solid fa-check fa-2x me-3"></i>
        </p>
    </div>
</div>
